html, body, #root {
  height: 100vh;
  background: #f7f7f7;
}

.color-prime {
  color: #17a2b8 !important;
}

.btn:focus, 
.btn-info:focus, 
.btn-primary:focus, 
.btn-light:focus,
.btn-dark:focus,
.btn-danger:focus {
  box-shadow: none !important;
}

.transparent-button, .transparent-button:focus, .transparent-button:hover {
  background-color: Transparent;
  padding: 0;
  color: #000000;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.liked, .liked:focus .liked:hover{
  color: #17a2b8 !important;
}

.not-liked, .not-liked:focus .not-liked:hover{
  color: grey !important;
}

.form-signup {
  width: 420px;
  background: black; 
  padding: 15px;
  color: white;
  opacity: 1;
}

.alert {
  width: 400px;
}

.form-container {
  background: #32383e;
  margin: 20px auto;
  color: #ffa804;
  padding: 20px;
}

.loginform-container {
    display: flex;
    height: 85vh;
    align-items: center;
}

.form .social-input {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}

.form-inline .form-control{
  width: 80%;
}

.profile-list {
  padding: 10px;
  margin: 20px auto;
  max-width: 700px;
}

.profile-item-name {
  margin-bottom: 0;
  color: #17a2b8;
}

.profile-item-location {
  font-size: 0.8rem;
  color: #062b31;
}

.form .social-input i {
  margin-right: 0.5rem;
}
.form .social-input i.fa-twitter {
  color: #1da1f2;
}
.form .social-input i.fa-facebook {
  color: #4267b2;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0073b1;
}

.table td {
  color: #fff;
}

.table th {
  color: rgb(241, 233, 155);
}

.simple-arrow::after {
  content: "\f105";
  margin-left: 4px;
  font-family: 'Font Awesome 5 Free';
  color: #0073b1;
  font-weight: 800;
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }

  .alert-position {
    left: 20% !important;
  }
}

@media (max-width: 1028px) and (min-width: 768px) {
  .hide-md {
    display: none;
  }

  .form-inline .form-control{
    width: 13rem;
  }

  .navbar {
    font-size: 1rem!important;
  }

  .navbar-brand img {
    width: 150px;
  }
}

.post-header {
  background: #32383e;
  color: #fff;
  padding: 10px;
}

.post-container {
  padding: 10px;
  box-shadow: 0 10px 6px -6px #bdbcbc;
  color: #666;
  background: white;
  font-size: 15px;
  white-space: pre-wrap;
}

.comments-container {
  overflow-y: scroll;
  max-height: 250px;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.navbar {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2rem;
  background: '#026170';
}

.back-page {
  background:  url('../img/landing.png') right no-repeat, #ffa804;
  height: 100%;
  background-repeat: no-repeat; 
  background-size: auto;
}

.welcome-page {
  height: 40vh;
  background-color: rgb(5,87,131);
  background: url('../img/frontend.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
}

.welcome {
  text-align: center;
  height: 100%;
  width: 100%;
  color: white;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-message p {
  margin: 15px;
  font-family: cursive;
}

.carousel-caption p {
  background: black;
  opacity: 0.6;
  font-size: 1.2rem;
  font-family: cursive;
}

.spinner-container {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.spinner-container:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background: #026170;
}

.alert-position {
  position: fixed;
  width: 300px;
  top: 100px;
  left: 40%;
  z-index: 100;
  text-align: center;
}

.text-error {
  color: red;
  font-size: small;
}

.homepage-item {
  margin-right: 0;
  padding: 10px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  font-size: 2.1em;
  overflow: hidden;
}

.homepage-item h1 {
  text-shadow: 2px 1px #a9dbe2;
  color: white;
  font-family: cursive;
  font-size: 1.2em;
  animation: mymove 5s infinite;
  animation-timing-function: ease-out;
}

@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}

.homepage-item .about {
  padding: 0 20px;
  font-size: 'blue';
  font-family: 'Barlow';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-bottom: #ffa804  2px solid;
}

.homepage-item .about:nth-child(even) {
  background: url('../img/tri.png');
  background-repeat: no-repeat; 
  background-size: cover;
}

.homepage-item .about:nth-child(odd) {
  background: url('../img/tri_copy.png');
  background-repeat: no-repeat; 
  background-size: cover;
}

@media (min-width: 768px) {
  .form-inline .form-control{
    width: 20rem;
  }

  .welcome-page {
    height: 600px;
  }

  .fixed-top-md {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .just-empty {
    height: 60px;
  }
}